
click==6.7
gunicorn==19.7.1
Flask==1.0.2
Flask-API==1.1
Flask-Cors==3.0.9
Flask-RESTful==0.3.7
google-compute-engine==2.8.13
ipaddress==1.0.22
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
mysql-connector==2.2.9
pycparser==2.19
pyOpenSSL==19.0.0
pytz==2018.9
requests==2.9.1
six==1.10.0
urllib3==1.13.1
Werkzeug==0.15.1
